/* Write your CSS here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 4px;
  height: 50px;
}
.logo {
  height: 30px;
  width: 30px;
}
.theme {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 20px;
}
.button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 30px;
}
